<!DOCTYPE html>
<html>
<head>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="w3-container">


  <table class="w3-table w3-bordered",align="center">
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Salary</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>India</td>
      <td>vellore</td>
      <td>54000</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>India</td>
      <td>vellore</td>
      <td>94000</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>India</td>
      <td>vellore</td>
      <td>26700</td>
    </tr>
<tr>
      <td>Niki</td>
      <td>India</td>
      <td>vellore</td>
      <td>67000</td>
    </tr>
<tr>
      <td>Rishi</td>
      <td>India</td>
      <td>vellore</td>
      <td>57000</td>
    </tr>
<tr>
      <td>Prasan</td>
      <td>India</td>
      <td>vellore</td>
      <td>12000</td>
    </tr>

  </table>
</div>

</body>
</html>
