<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="C:\Users\ni20090110\Desktop\Nikitha Front End\css\table2style.css">

<body>

<form class="w3-container w3-card-4">

  <table class="w3-table w3-bordered",align="center">
    <br><tr>
      <th>Id</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Country</th>


    </tr>
    <tr>

      <td>1</td>
      <td>Jill</td>
      <td>54000</td>
      <td>India</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Eve</td>
      <td>94000</td>
      <td>India</td>

    </tr>
    <tr>
      <td>3</td>
      <td>Adam</td>
      <td>26700</td>
      <td>India</td>

    </tr>
<tr>
      <td>4</td>
      <td>Niki</td>
      <td>67000</td>
      <td>India</td>

    </tr>
<tr>
    <td>5</td>
    <td>Rishi</td>
    <td>57000</td>
    <td>India</td>


    </tr>
<tr>
      <td>6</td>
      <td>Prasan</td>
      <td>12000</td>
      <td>India</td>
    </tr>



  </table>

</form>

</body>
</html>
