<html>
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'app1/userstyle.css' %}" type="text/css">
<link rel="stylesheet" href="C:\Users\ni20090110\Desktop\Nikitha Front End\css\userstyle.css">

<style>
input[type=text] {
  width: 30%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  text:gray;
  border-bottom: .5px ridge gray;
}
</style>
</head>
<body>

<div class="container">


  <label for="Company"></label>
  <input name="company" placeholder="Company(disabled)" type="text" />
  <label for="Username"></label>
  <input name="username" placeholder="Username" type="text" />
  <label for="Email_address"></label>
  <input name="email" placeholder="Email address" type="text" />






<label for="First_Name"></label>
  <input name="namee" placeholder="Firstname" type="text" />
  <label for="lastName"></label>
  <input name="name" placeholder="Lastname" type="text" /> <br>


<label for="City"></label>
  <input name="city" placeholder="City" size="4" type="text" />
  <label for="Country"></label>
  <input name="country" placeholder="Country" type="text" />
  <label for="Postal_code"></label>
  <input name="postal" placeholder="Postal code" type="text" />

<p>About me</p><br><br>
<p>Lamborghini Mercy,Your chick she so thirsty,I'm in that seat Lambo.</p><br><br><br><br>
<hr>
<button class="button button4">UPDATE PROFILE</button>

</div>
</body>
</html>
